[tool.poetry]
name = "Moe"
include = ["alembic/*", "alembic/versions/*"]
version = "0.3.12"
description = "The ultimate tool for managing your music library."
authors = ["Jacob Pavlock <jtpavlock@gmail.com>"]
repository = "https://github.com/jtpavlock/Moe"
documentation = "https://mrmoe.readthedocs.io/en/latest/index.html"
classifiers=[
    "Development Status :: 3 - Alpha",
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: MIT License",
    "Topic :: Multimedia :: Sound/Audio :: Editors",
]
readme = "README.rst"
license = "MIT"

[tool.poetry.scripts]
moe = 'moe.cli:main'

[tool.poetry.dependencies]
python = ">=3.6.7, <3.10"
alembic = "^1.4.2"
dynaconf = "^3.1.4"
mediafile = "^0.6.0"
musicbrainzngs = "^0.7.1"
pluggy = "^0.13.1"
pyyaml = "^5.3.1"
SQLAlchemy = {extras = ["mypy"], version = "^1.4.15"}
questionary = "^1.9.0"

# necessary for extras
Sphinx = {version = "^4.0.2", optional = true}

[tool.poetry.dev-dependencies]
black = "^21.6b0"
commitizen = "^2.17.12"
flake8 = "^3.8.3"
flake8-docstrings = "^1.5.0"
flake8-use-fstring = "^1.1"
mypy = "^0.910"
pre-commit = "^2.6.0"
pytest = "^6.0.1"
pytest-cov = "^2.10.0"
Sphinx = "^4.0.2"
sqlalchemy2-stubs = "^0.0.2-alpha.1"
wemake-python-styleguide = "^0.15"

# needed because readthedocs doesn't natively support poetry
# https://github.com/readthedocs/readthedocs.org/issues/4912
[tool.poetry.extras]
docs = ["Sphinx"]

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.3.12"
version_files = [
    "pyproject.toml:^version",
]
tag_format = "v$version"

[tool.isort]
profile = 'black'

[tool.pytest.ini_options]
log_cli_level = 10
markers = [
    "integration: integration tests",
    "network: tests that make network calls"
]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
