[tool.poetry]
name = "Moe"
include = ["alembic/*", "alembic/versions/*"]
version = "0.15.2"
description = "The ultimate tool for managing your music library."
authors = ["Jacob Pavlock <jtpavlock@gmail.com>"]
repository = "https://github.com/MoeMusic/Moe"
documentation = "https://mrmoe.readthedocs.io/en/latest/index.html"
classifiers=[
    "Development Status :: 3 - Alpha",
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: MIT License",
    "Topic :: Multimedia :: Sound/Audio :: Editors",
]
readme = "README.rst"
license = "MIT"

[tool.poetry.scripts]
moe = 'moe.cli:main'

[tool.poetry.dependencies]
python = ">=3.9, <3.11"
alembic = "^1.4.2"
dynaconf = "^3.1.4"
mediafile = "^0.9.0"
musicbrainzngs = "^0.7.1"
pluggy = "^0.13.1"
pyyaml = "^5.3.1"
rich = "^12.5.1"
SQLAlchemy = "^1.4.15"
Unidecode = "^1.2.0"
questionary = "^1.9.0"

# necessary for extras
# these should technically be dev-extras, but poetry doesn't support that yet
# https://github.com/python-poetry/poetry/issues/1644
furo = {version = "^2021.7.5-beta.38", optional = true}
Sphinx = {version = "^4.0.2", optional = true}

[tool.poetry.dev-dependencies]
black = "^22.6.0"
commitizen = "^2.17.12"
darglint = "^1.8.1"
debugpy = "^1.4.1"
flake8 = "^5.0.4"
flake8-alphabetize = "^0.0.17"
flake8-bugbear = "^22.7.1"
flake8-comprehensions = "^3.10.0"
flake8-docstrings = "^1.5.0"
flake8-pytest-style = "^1.6.0"
flake8-use-fstring = "^1.1"
"github3.py" = "^3.2.0"
isort = "^5.10.1"
mccabe = "^0.7.0"
pre-commit = "^2.6.0"
pypandoc = "^1.8.1"
pyright = "^1.1.267"
pytest = "^6.0.1"
pytest-cov = "^2.10.0"

# needed because readthedocs doesn't natively support poetry
# https://github.com/readthedocs/readthedocs.org/issues/4912
[tool.poetry.extras]
docs = ["Sphinx", "furo"]

[tool.commitizen]
name = "cz_customize"
version = "0.15.2"
version_files = [
    "pyproject.toml:^version",
]
tag_format = "v$version"

[tool.commitizen.customize]
schema_pattern = '(build|ci|deprecate|docs|feat|fix|perf|refactor|release|style|test)(\(\w+\))?:\s\S.*'

[tool.isort]
profile = 'black'

[tool.pytest.ini_options]
log_cli_level = 10
addopts = "--color=yes"
markers = [
    "network: tests that make network calls",
    "darwin: tests that should only run on apple",
    "linux: tests that should only run on linux",
    "win32: tests that should only run on windows"
]

[tool.pyright]
exclude = [
    "alembic",
]
pythonPlatform = "All"

[build-system]
requires = ["poetry-core>=1.0"]
build-backend = "poetry.core.masonry.api"
