name: CI

on:
  push:
    branches:
      - master
    tags-ignore:
      - v*
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip poetry
          poetry install

      - name: Lint
        run: |
          poetry run pre-commit run --all-files
          poetry run cz check --rev-range $(git describe --tags --abbrev=0)..HEAD

  test:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
        platform: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip poetry
          poetry install

      - name: Run tests
        run: |
          poetry run pytest -m "not network"

  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip poetry
          poetry install -E docs

      - name: Build docs
        run: |
          poetry run sphinx-build -W -b html docs docs/_build/html

  codecov:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip poetry
          poetry install

      - name: Run all tests and create coverage report
        run: |
          poetry run pytest -v --cov=moe --cov-report=xml

      - name: Upload network test coverage report
        uses: codecov/codecov-action@v3
