on:
  workflow_dispatch:

jobs:
  create_pr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install Moe
        run: |
          python -m pip install --upgrade pip poetry
          poetry install

      - name: Run prep_release script
        run: python .github/scripts/prep_release.py ${{ secrets.GITHUB_TOKEN }}
